<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="./public/stylesheets/style.css">-->
</head>

 
<body>
<div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Tech Blog</li>
          </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">  
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a class="link" href="/" id="logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
<main>
    {{{ body }}}
</main>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
      <script>
        $(document).foundation();
      </script>  
</body>
</html>