

<section class="row">
  <div class = "column">
    <h4>Create New Post</h4>

    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content">Text</label>
        <textarea id="post-content" name="post-content"></textarea>
      </div>
      <button type="submit" class="primary button expanded search-button">Create</button>
    </form>
  </div>
 

</section>

{{#if posts.length}}
<section class="row">
<h4>Your Posts</h4>
<div class = "column" id = "posts">
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</div>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>
