<div class="translucent-form-overlay">
        <form class="login-form">
          <h3>Login</h3>
          <div class="row columns">
            <label for ="email-login"></label>Email
            <input type="text" id="email-login" placeholder="Any">
            </label>
          </div>
          <div class="row columns">
            <label for="password-login"></label>Password
              <input type="password" id="password-login" placeholder="Any">
            </label>
          </div>
          
          <button type="submit" class="primary button expanded search-button">
            Login
          </button>
       </form>
       <a href="/signup">Sign Up!</a>
      </div>
      <script src="/javascript/login.js"></script>