:root{
    --primary-color:rgba(55, 74, 185, 0.8);
    --secondary-color:aliceblue;
    
}


.top-bar {
    background-color: var(--primary-color);
}
.top-bar-right{
  float: right;
}

.menu-text{
    background-color:var(--primary-color);
    color: var(--secondary-color);
}

a {
    background-color:var(--secondary-color);  
    color: var(--primary-color);
}

span {
  color: var(--primary-color);
  background-color:var(--secondary-color);
}

ol, li {list-style-type: none;}

.post{
  border-color: var(--primary-color);
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
}


.translucent-form-overlay {
    max-width: 550px;
    /*width: 100%;*/
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--secondary-color);
    margin: 60px;
  }
  
  .translucent-form-overlay .columns.row {
    display: block;
  }
  
  .translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
  }
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
  }

  .button.primary {
    background: var(--primary-color);
    color: #fff;
}
  
  .column, .columns {
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0;
}

  .button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.edit-link {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.new-post-form {
  
  width: 600px;
  
}

h4 {
  color:var(--primary-color);
  width: 600px;
}
  
#posts{
  width: 80%;
  
  
  
}

.column:last-child, .columns:last-child {
  float: left;
}

div.title {
  
  background-color: var(--secondary-color);
}

.post-list {
  width: 80%;
  margin:300px;
}

.content {
  margin-top:30px
}